.action-button {
  padding: 1.5em 0.5em;
  margin: 0.25em;
  border-radius: 2em;
  width: 18em;
  align-items: center;
}

.action-button[disabled] {
  background-color: grey;
  border: 1px solid black;
}