.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.navBar {
  background-color: #fff5db !important;
  margin-bottom: 2em;
  border-bottom: 1px solid #ffa787
}

.small-margin {
  margin: 0.25em;
}

h1 {
  font-size: 3em;
}
