.container-fluid{
  float: center;
}

.times{
  float: center;
  margin: auto;
}

.card-img-top{
  width: 200px;
  height: 140px;
}

.card{
  float: left;
  padding: 2px;
  border-radius: 25px;
  font-size: 25px;
  margin-bottom: 45px;
}

.card-title{
  float: center;
}

.page-footer {
     padding: 1em;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
}

.led-box {
  height: 50px;
  width: 60%;
  margin: 10px;
  padding-right: 40px;
  float: right;
  display: inline;
}

.led-green {
  margin-right: 25px;
  width: 50px;
  height: 50px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  visibility: hidden;
  -webkit-animation: blinkGreen 2s infinite;
  -moz-animation: blinkGreen 2s infinite;
  -ms-animation: blinkGreen 2s infinite;
  -o-animation: blinkGreen 2s infinite;
  animation: blinkGreen 2s infinite;
}

@-webkit-keyframes blinkGreen {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkGreen {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkGreen {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkGreen {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }
    to { background-color: #FF0; }
}
@keyframes blinkGreen {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px; }
    to { background-color: #FF0; }
}

.led-yellow {
  width: 50px;
  height: 50px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  visibility: hidden;
  -webkit-animation: blinkYellow 1.5s infinite;
  -moz-animation: blinkYellow 1.5s infinite;
  -ms-animation: blinkYellow 1.5s infinite;
  -o-animation: blinkYellow 1.5s infinite;
  animation: blinkYellow 1.5s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-red {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: #f00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #f00 0 2px 12px;
  visibility: hidden;
  -webkit-animation: blinkRed 3s infinite;
  -moz-animation: blinkRed 3s infinite;
  -ms-animation: blinkRed 3s infinite;
  -o-animation: blinkRed 3s infinite;
  animation: blinkRed 3s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
  }

#myChart{
  margin-top: 275px;
  height: 40vh;
  min-height: 300px;
  width: 125vh;
  margin-right: 500px;
  display: inline;
}

#myPie{
  height: 40vh;
  min-height: 300px;
  width: 60vh;
  float: right;
  display: inline;
}
